{% extends "base2.html" %}
{% block content %}
{% load static %}

<div id="app1" style='margin-top: 10%;'>
    <div class="container">
        <form method='POST' action='#'>
            {% csrf_token %}
            {% comment %} {% for message in messages %}
            <label style="color: red;"><i>message</i></label>
            {% endfor %} {% endcomment %}

            <div>
                <button class="button btn btn-primary" type="submit" name="addcart" value="borrow">ยืมพัสดุ</button>

                <div class="row">
                    {% comment %} {% for item in item_list %} {% endcomment %}
                    <div class="col-md-3">
                        <div class="card my-3">
                            {% comment %} {% if item.item_image %} {% endcomment %}
                                <img src="{% static 'img/scissors.jpg' %}" class="card-img-top img-fluid"> 
                            {% comment %} {% endif %} {% endcomment %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <input type="checkbox" name="item" value=""> กรรไกร
                                </h5>
                                <p>จำนวนที่มี: 1 ชิ้น</p>
                                <br>
                                {% comment %} {% endif %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                    {% comment %} {% endfor %} {% endcomment %}
                </div>
            </div><br>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

{% endblock %}